---
Language: Cpp
BasedOnStyle: Google

BreakAfterReturnType: Automatic
ColumnLimit: 100
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentPPDirectives: BeforeHash
PointerAlignment: Left
