name: C++ Linter

on:
  push:
    paths:
      - 'include/**'
      - 'src/**'
      - 'tests/**'
  pull_request:
    paths:
      - 'include/**'
      - 'src/**'
      - 'tests/**'

jobs:
  cpp-linter:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Install dependencies
      run: sudo apt update && sudo apt install -y protobuf-compiler libssl-dev
    - name: Build LanceCpp
      run: |
        mkdir /tmp/lance-cpp
        mkdir -p build/debug && cd build/debug
        cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=gcc-14 -DCMAKE_CXX_COMPILER=g++-14 \
              -DCMAKE_INSTALL_PREFIX=/tmp/lance-cpp -GNinja ../..
        cmake --build . --config Debug -- -j$(nproc)
    - uses: cpp-linter/cpp-linter-action@v2
      id: linter
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        style: 'file'
        tidy-checks: ''
        version: 22
        database: build/debug
        files-changed-only: true
        lines-changed-only: true
        thread-comments: true
        verbosity: 'debug'
        # need '-fno-builtin-std-forward_like', see https://github.com/llvm/llvm-project/issues/101614
        extra-args: '-std=c++23 -I$PWD/include -I$PWD/src -fno-builtin-std-forward_like'
