name: pre-commit

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - id: changed-files
      uses: tj-actions/changed-files@v36
    - uses: pre-commit/action@v3.0.1
      with:
        extra_args: --files ${{ steps.changed-files.outputs.all_changed_files }}
